\MyTo-DoList 1.0\license.txt
\MyTo-DoList 1.0\readme.txt
\MyTo-DoList 1.0\WebIntoApp-Author.url
\MyTo-DoList 1.0\WebIntoApp-Home.url
\MyTo-DoList 1.0\android\app-release.aab
\MyTo-DoList 1.0\android\my-release-key.jks
\MyTo-DoList 1.0\android\certification.txt
